# compute-vars.template.j2
source {{ db_env_vars_file  }}
# We don't use CEPH - comment out
#CEPH_FSID=$(oc get secret ceph-conf-files -o json | jq -r '.data."ceph.conf"' | base64 -d | grep fsid | sed -e 's/fsid = //')
alias openstack="oc exec -t openstackclient -- openstack"

# We have these already in our {{ db_env_vars_file }} file
#DEFAULT_CELL_NAME="default"
#RENAMED_CELLS="cell1 cell2 $DEFAULT_CELL_NAME"

declare -A COMPUTES_CELL1
export COMPUTES_CELL1=(
{% for host in  groups['Compute'] %}
  ['{{ hostvars[ host ].canonical_hostname }}']='{{ hostvars[ host ].ctlplane_ip }}'
{% endfor %}
)

declare -A COMPUTES_API_CELL1
export COMPUTES_API_CELL1=(
{% for host in  groups['Compute'] %}
  ['{{ hostvars[ host ].canonical_hostname }}']='{{ hostvars[ host ].internal_api_ip }}'
{% endfor %}
)

NODESETS=""
for CELL in $(echo $RENAMED_CELLS); do
  ref="COMPUTES_$(echo ${CELL}|tr '[:lower:]' '[:upper:]')"
  eval names=\${!${ref}[@]}
  [ -z "$names" ] && continue
  NODESETS="'openstack-${CELL}', $NODESETS"
done
NODESETS="[${NODESETS%,*}]"

